/* _content/Amsthetic/Pages/Index.razor.rz.scp.css */
.fullscreen-bg[b-hkur005u9j] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video[b-hkur005u9j] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* _content/Amsthetic/Pages/Roadmap.razor.rz.scp.css */
/* _content/Amsthetic/Pages/Team.razor.rz.scp.css */
/* _content/Amsthetic/Shared/MainLayout.razor.rz.scp.css */
.page[b-x30b3hbsml] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-x30b3hbsml] {
    flex: 1;
}

.sidebar[b-x30b3hbsml] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x30b3hbsml] {
    background: linear-gradient(to left, #ffffff 0%, #000000 100%);
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    justify-content: flex-end;
}

.top-row .col-11[b-x30b3hbsml] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.5rem;

}

    .logoContainer[b-x30b3hbsml] {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.nav-item[b-x30b3hbsml] {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    /*text-shadow: 0 1px 1px white;*/
    text-transform: uppercase;
    color: #000000;
}

.btn[b-x30b3hbsml] {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 12px 30px; 
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    /*letter-spacing: 1px;*/
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5[b-x30b3hbsml] {
    background: #000000;
    color: #fff;
/*    height: 70px;*/
    line-height: 24px;
    font-size: 16px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .btn-5:active[b-x30b3hbsml] {
        background: #9053a9;
        top: 2px;
    }

    .btn-5 span[b-x30b3hbsml] {
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        -moz-transition: all 0.3s;
        -moz-backface-visibility: hidden;
        transition: all 0.3s;
        backface-visibility: hidden;
    }

    .btn-5[b-x30b3hbsml]:before {
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 2.5;
        font-size: 180%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-5:active[b-x30b3hbsml]:before {
        color: #703b87;
    }

/* Button 5a */
.btn-5a:hover span[b-x30b3hbsml] {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.btn-5a[b-x30b3hbsml]:before {
    left: 0;
    top: -100%;
}

.btn-5a:hover[b-x30b3hbsml]:before {
    top: 0;
}

.icon-wallet[b-x30b3hbsml]:before {
    content: "\e007";
}

    .top-row[b-x30b3hbsml]  a, .top-row .btn-link[b-x30b3hbsml] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-x30b3hbsml] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-x30b3hbsml] {
        display: none;
    }

    .top-row.auth[b-x30b3hbsml] {
        justify-content: space-between;
    }

    .top-row a[b-x30b3hbsml], .top-row .btn-link[b-x30b3hbsml] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x30b3hbsml] {
        flex-direction: row;
    }

    .sidebar[b-x30b3hbsml] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-x30b3hbsml] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-x30b3hbsml], article[b-x30b3hbsml] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

*[b-x30b3hbsml], *[b-x30b3hbsml]:after, *[b-x30b3hbsml]:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body[b-x30b3hbsml], html[b-x30b3hbsml] {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}   
/* _content/Amsthetic/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-qo0w8anhb0] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qo0w8anhb0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-qo0w8anhb0] {
    font-size: 1.1rem;
}

.oi[b-qo0w8anhb0] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qo0w8anhb0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-qo0w8anhb0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-qo0w8anhb0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-qo0w8anhb0]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-qo0w8anhb0]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-qo0w8anhb0]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qo0w8anhb0] {
        display: none;
    }

    .collapse[b-qo0w8anhb0] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
