@page "/team"

<PageTitle>Team | Amsthetic</PageTitle>

<h1>Team</h1>

<div class="row">
    <div class="col-6">
        <img src="images\mehmet.png" alt="mehmet" class="img-responsive">
    </div>
    <div class="col-6 auto">
        <div class="text-center">
            <h2 class="subtitle">
                Owner
            </h2>
            <h3 class="title">
                Mehmet (Memo) Dogan
            </h3>
            <h4 class="bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </h4>
        </div>
    </div>

    <div class="row">

        <div class="col-6">

        </div>
        <div class="col-6">
            <img src="images\ado.png" alt="mehmet" class="img-responsive">
        </div>
    </div>
</div>