.page[b-x30b3hbsml] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-x30b3hbsml] {
    flex: 1;
}

.sidebar[b-x30b3hbsml] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x30b3hbsml] {
    background: linear-gradient(to left, #ffffff 0%, #000000 100%);
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    justify-content: flex-end;
}

.top-row .col-11[b-x30b3hbsml] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3.5rem;
}

    .logoContainer[b-x30b3hbsml] {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-x30b3hbsml] {
        display: none;
    }

    .top-row.auth[b-x30b3hbsml] {
        justify-content: space-between;
    }

    .top-row a[b-x30b3hbsml], .top-row .btn-link[b-x30b3hbsml] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x30b3hbsml] {
        flex-direction: row;
    }

    .sidebar[b-x30b3hbsml] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-x30b3hbsml] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-x30b3hbsml], article[b-x30b3hbsml] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

*[b-x30b3hbsml], *[b-x30b3hbsml]:after, *[b-x30b3hbsml]:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body[b-x30b3hbsml], html[b-x30b3hbsml] {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}   