@inherits LayoutComponentBase

<PageTitle>Amsthetic</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="col-1">
                <a href="/" itemprop="url">
                    <img src="images\amsthetic2.jpg" 
                         alt="amsthetic"
                         width="55" 
                         height="55">
                </a>
            </div>
            <NavMenu></NavMenu>
        </div>
        <article class="content px-4">
        <Hero />
            @Body
        </article>
    </main>
</div>
